{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1><a href="/">Subreddits List</a></h1>
<div id="subFetch">
    <ul>
      <li v-for="sub in subreddits">
        {% verbatim %}
        <h3><a href=''>{{ sub.title }}</a></h3>
        {{ sub.description }}
        Created by {{ sub.creator}}

        <!-- <a :href="'/comment/'+sugg.id+'/'" class="button">comment</a> -->
        {% endverbatim %}
      </li>
    </ul>
    
    <!-- <span v-if="seen">
        <p>Loading Suggestions...</p>
    </span> -->
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "js/subreddits.js" %}"></script>
{% endblock %}