{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class ="text-center">Subreddits List</h1>
<div><a href="/newSub/">Create New Subreddit</a></div>

<div class="row">
  <div id="subFetch">
      <ul>
        <div class ="col-lg-12 medium-12 small-12">
          <div class="card" v-for="sub in subreddits">
            {% verbatim %}
            <h3><a v-bind:href="sub.title">{{ sub.title }}</a></h3>
            <p>{{ sub.description }}</p>
            <p>Created by {{ sub.creator }}</p>
            {% endverbatim %}
          </div>
      </ul>
  </div>
</div>

{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="{% static "css/cards.css" %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static "js/subreddits.js" %}"></script>
{% endblock %}