{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
<!-- <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"> -->


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static "css/app.css" %}">
</head>
<body>
{% block content %}
{% endblock %}

<!-- <script src="{% static "js/booststrap.js" %}"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static "js/app.js" %}"></script>

</body>
</html>